<div ng-controller="ProxyServerCtrl" ng-cloak>
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div>设置代理</div>
        </div>
    </md-toolbar>
    <div class="md-padding" layout="column">
        <form name="ProxyServerForm" class="md-padding">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>代理</label>
                    <md-select ng-model="proxyId" required>
                        <md-option ng-repeat="proxy in proxys" value="{{proxy.id}}">{{proxy.ip}}[{{proxy.tag}}]</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </form>
        <div layout="row" layout-align="start center" layout-margin>
            <md-button class="md-raised" ng-click="toggleForm();">
                取消
            </md-button>
            <md-button class="md-raised md-primary" ng-click="submit();" ng-disabled="ProxyServerForm.$invalid">
                保存
            </md-button>
        </div>
    </div>
</div>

