<div ng-controller="ScriptImplementController" cg-busy="{promise:loading,minDuration:500}">
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div>执行脚本</div>
        </div>
    </md-toolbar>
    <md-content>
        <div layout="column">
            <form name="ScriptForm" class="md-padding">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>脚本名称</label>
                        <input md-maxlength="30" required name="name" ng-model="item.name" disabled>
                        <div ng-messages="ScriptForm.name.$error">
                            <div ng-message="required">必填.</div>
                            <div ng-message="md-maxlength">不要超过30个字符</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" required flex-gt-sm>
                        <label>目标集群</label>
                        <md-select ng-model="item.clusterId" ng-disabled="!clusters||clusters.length==0"
                                   ng-change="clusterChange()">
                            <md-option ng-repeat="cluster in clusters" value="{{cluster.id}}">{{cluster.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>目标主机组</label>
                        <md-select ng-model="item.clusterRoleId"  ng-change="clusterRoleChange()" required >
                            <md-option ng-repeat="clusterRole in clusterRoles" value="{{clusterRole.id}}">{{clusterRole.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>目标主机</label>
                        <md-select ng-model="item.serverId"  required >
                            <md-option ng-repeat="server in servers" value="{{server.id}}">{{server.instanceName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>执行路径</label>
                        <input md-maxlength="100"  name="executePath" ng-model="item.executePath" disabled >
                        <div ng-messages="ScriptForm.executePath.$error">
                            <div ng-message="required">必填.</div>
                            <div ng-message="md-maxlength">不要超过100个字符</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="script-code">
                    <ui-codemirror ui-codemirror-opts="cmOption" ng-model="item.content"></ui-codemirror>
                </div>
            </form>
        </div>


        <div layout="row" layout-align="start center" layout-margin>
            <md-button class="md-raised" ng-click="toggleForm();">
                取消
            </md-button>
            <md-button class="md-raised md-primary" ng-click="submit();" ng-disabled="ScriptForm.$invalid">
                执行
            </md-button>
        </div>
    </md-content>
</div>


