<md-dialog ng-controller="JenkinsJobCopyCtrl" class="md-padding">
    <md-dialog-content>
        <form layout="column" ng-cloak name="jobForm" style="overflow: hidden">
            <md-input-container>
                <label>新任务名</label>
                <input name="newJobName" ng-model="newJobName" required/>
            </md-input-container>
            <md-input-container>
                <label>选择应用</label>
                <md-select ng-model="selectedJob" name="selectedJob"
                           data-md-container-class="select-header-wrapper" required>
                    <md-select-header class="select-header">
                        <input ng-model="jobName"
                               type="search"
                               placeholder="输入任务名"
                               class="header-search-box md-text search-input">
                    </md-select-header>
                    <md-optgroup label="任务">
                        <md-option ng-value="job" ng-repeat="job in jobs |
              filter:{name:jobName}">{{job.name}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="center center">
        <md-button ng-click="close()" class="md-primary">
            取消
        </md-button>
        <md-button ng-click="submit()" class="md-primary" ng-disabled="jobForm.$invalid">
            确定
        </md-button>
    </md-dialog-actions>
</md-dialog>