<div class="content-backdrop" layout-fill ng-cloak ng-controller="JenkinsChildJobCtrl">
    <div cg-busy="{promise:loadingLayer,minDuration:500}" layout="column" layout-fill>
        <div flex layout="row">
            <div class="md-padding" flex="100" layout="column">
                <md-toolbar class="md-toolbar-tools" layout="row">
                    <div>
                        <div>子任务列表</div>
                    </div>
                    <div flex></div>
                    <md-button class="md-active" ng-click="closeDetail()">
                        关闭
                    </md-button>
                </md-toolbar>
                <!--<filter-tools conditions="conditions" execute="list()" results="filters" search="'true'">
                    <select-columns columns="columns"></select-columns>
                    <div class="filter-item">
                        <md-button class="md-icon-button md-whiteframe-1dp" ng-click="list()">
                            <md-tooltip md-delay="300">刷新</md-tooltip>
                            <md-icon>refresh</md-icon>
                        </md-button>
                    </div>
                </filter-tools>-->

                <div flex layout="column" layout-fill>
                    <!-- columns 字段列是动态添加的  execute 执行的sql条件和排序的语句传参-->
                    <table columns="columns" dynamic-table execute="list({sql: sql})">
                        <tbody>
                        <tr ng-class="{'tr-selected':selected === item.$$hashKey}" ng-repeat="item in items">
                            <td>
                                <md-checkbox aria-label="是否启用" class="md-primary" md-no-ink
                                             ng-click="enableClick($event)" ng-model="item.enable"></md-checkbox>
                            </td>
                            <td>{{item.name | ChildNameFilter}}</td>
                            <td>{{item.source | SourceFilter}}</td>
                            <td><a class="md-primary" href="" ng-click="goJobHistories(item)">{{item.buildSize | StrEmptyFilter}}</a></td>
                            <td ng-if="currentRole === 'ADMIN'">{{item.organizationName}}</td>
                            <td ng-if="currentRole === 'ADMIN' || currentRole === 'ORGADMIN'">{{item.workspaceName}}
                            <td>
                                <div>
                                    <md-tooltip class="f2c-tooltip-user" md-delay="30">
                                        <span>{{item.url}}<br/></span>
                                    </md-tooltip>
                                    <a target="_blank" href="{{item.url}}"><span ng-style="{'color':'inherit'}">Job详情</span></a>
                                    <br>
                                </div>
                            </td>
                            <td>
                                <button class="status-button "
                                        ng-class="{
                                'END_SYNC' : 'status-button-success',
                                'ERROR_SYNC' : 'status-button-error',
                                'IN_SYNC':'status-button-running',
                                'NO_SYNC':'status-button-pending'
                                }[item.syncStatus]">
                                    <i aria-hidden="true" class="fas fa-sync-alt fa-spin"
                                       ng-if="item.syncStatus==='IN_SYNC'"></i>
                                    {{item.syncStatus | JenkinsSyncStatusFilter}}
                                </button>
                            </td>
                            <td>
                                <button class="status-button "
                                        ng-class="{
                                        'SUCCESS' : 'status-button-success',
                                        'FAILURE' : 'status-button-error',
                                        'BUILDING':'status-button-running',
                                        'REBUILDING':'status-button-running',
                                        'NOT_BUILT':'status-button-pending',
                                        'ABORTED':'status-button-ignore-hangUp',
                                        'UNSTABLE':'status-button-suspended',
                                        'CANCELLED':'status-button-overtime',
                                        'UNKNOWN':'status-button-ignore'
                                }[item.buildStatus]">
                                    <i aria-hidden="true" class="fas fa-sync-alt fa-spin"
                                       ng-if="item.buildStatus==='BUILDING' || item.buildStatus==='REBUILDING'"></i>
                                    {{item.buildStatus | BuildResultFilter}}
                                </button>
                            </td>
                            <td>
                                {{item.buildable | ActiveFilter}}
                            </td>
                            <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{item.updateTime | date:'yyyy-MM-dd HH:mm:ss' | StrEmptyFilter}}</td>
                            <td>{{item.syncTime | date:'yyyy-MM-dd HH:mm:ss' | StrEmptyFilter}}</td>
                            <td>{{item.description | StrEmptyFilter}}</td>
                            <td>
                                <md-button ng-disabled="!item.buildable || item.buildStatus ==='BUILDING'" ng-click="buildJobs(item)">
                                    <md-icon>build</md-icon>
                                    构建
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table-pagination pagination="pagination"></table-pagination>
                </div>
            </div>
            <!--必须定义$scope.infoUrl,width不设默认400px-->
            <info-form></info-form>
        </div>
    </div>
    <!--必须定义$scope.formUrl,width不设默认70%-->
    <side-form width="50%"></side-form>
    <!--用于弹窗的部署-->
    <md-sidenav id="deployForm" class="md-sidenav-right side-form" md-component-id="deployForm" md-whiteframe="4" style="width: 40%">
        <div ng-include="deployUrl" style="height: 100%"></div>
    </md-sidenav>
</div>


