<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fit2cloud.devops.dao.ext.ExtApplicationSettingMapper">

    <resultMap id="BaseResultMap" type="com.fit2cloud.devops.dto.ApplicationSettingDTO"
               extends="com.fit2cloud.devops.base.mapper.ApplicationSettingMapper.BaseResultMap">
        <result column="env_value" property="envValue" jdbcType="VARCHAR"/>
        <result column="repository_name" property="repositoryName" jdbcType="VARCHAR"/>
        <result column="repository_type" property="repositoryType" jdbcType="VARCHAR"/>
        <result column="repository_addr" property="repositoryAddr" jdbcType="VARCHAR"/>
        <result column="access_id" property="accessId" jdbcType="VARCHAR"/>
        <result column="access_password" property="accessPassword" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectApplicationSettings" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        devops_application_setting.*,
        tag_value.tag_value_alias env_value,
        devops_application_repository.name repository_name,
        devops_application_repository.type repository_type,
        devops_application_repository.repository repository_addr,
        devops_application_repository.access_id ,
        devops_application_repository.access_password
        FROM devops_application_setting
        LEFT JOIN devops_application_repository ON devops_application_setting.repository_id =
        devops_application_repository.id
        LEFT JOIN tag_value ON tag_value.id = devops_application_setting.environment_value_id
        <where>
            <if test="applicationId != null ">
                and devops_application_setting.application_id =#{applicationId}
            </if>
        </where>
    </select>
</mapper>