<div ng-cloak ng-controller="VariableEditCtrl" cg-busy="{promise:loading,minDuration:500}">
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div>编辑环境变量</div>
        </div>
    </md-toolbar>
    <md-content>
        <form name="variableForm" class="md-padding">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>名称</label>
                    <input md-maxlength="30" required name="name" ng-model="editItem.name" disabled>
                    <div ng-messages="variableForm.name.$error">
                        <div ng-message="required">必填.</div>
                        <div ng-message="md-maxlength">不要超过30个字符</div>
                    </div>
                </md-input-container>
            </div>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>适用资源</label>
                    <md-select ng-model="editItem.resourceType" ng-change="resourceTypeChange()" required disabled>
                        <md-option ng-repeat="resourceType in resourceTypes" value="{{resourceType.id}}">
                            {{resourceType.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>


            <div layout-gt-sm="row" ng-if="editItem.resourceType === 'cluster'">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>集群</label>
                    <md-select ng-model="item.resourceId" required disabled>
                        <md-option ng-repeat="cluster in clusters" value="{{cluster.id}}">{{cluster.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-gt-sm="row" ng-if="editItem.resourceType === 'clusterRole'">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>主机组</label>
                    <md-select ng-model="item.resourceId" required disabled>
                        <md-option ng-repeat="clusterRole in clusterRoles" value="{{clusterRole.id}}">
                            {{clusterRole.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout-gt-sm="row" ng-if="editItem.resourceType === 'cloudServer'">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>主机</label>
                    <md-select ng-model="item.resourceId" required disabled>
                        <md-option ng-repeat="cloudServer in cloudServers" value="{{cloudServer.id}}">
                            {{cloudServer.instanceName}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>


            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>值</label>
                    <input md-maxlength="100" name="value" ng-model="editItem.value" required>
                    <div ng-messages="variableForm.value.$error">
                        <div ng-message="md-maxlength">不要超过100个字符</div>
                    </div>
                </md-input-container>
            </div>
        </form>


        <div layout="row" layout-align="start center" layout-margin>

            <md-button class="md-raised" ng-click="toggleForm();">
                取消
            </md-button>
            <md-button class="md-raised md-primary" ng-click="submit();" ng-disabled="variableForm.$invalid">
                保存
            </md-button>
        </div>
    </md-content>
</div>
