<div ng-cloak ng-controller="JenkinsCredentialAddCtrl" flex="100">
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div>{{item.isReset?'重置凭据':'创建凭据'}}</div>
        </div>
    </md-toolbar>
    <md-content cg-busy="{promise:loadingLayer,minDuration:500}">
        <form class="md-padding" name="jenkinsCredentialForm" layout="column">
            <md-input-container  flex-gt-sm>
                <label>用户名</label>
                <input name="username" ng-model="item.username" required>
                <div ng-messages="jenkinsCredentialForm.username.$error">
                    <div ng-message="required">必填.</div>
                </div>
            </md-input-container>
            <md-input-container  flex-gt-sm>
                <label>密码</label>
                <i aria-hidden="true" class="fa fa-eye f2c-eye-jms abs-eye" id="eye" layout-gt-xs ng-click="view()"></i>
                <input name="password" type="password" id="password" ng-model="item.password">
                <div ng-messages="jenkinsCredentialForm.password.$error">
                    <div ng-message="required">必填.</div>
                </div>
            </md-input-container>
            <md-input-container flex-gt-sm>
                <label>ID</label>
                <input name="id"  ng-disabled="item.isReset" ng-model="item.id">
            </md-input-container>
            <md-input-container  flex-gt-sm>
                <label>描述</label>
                <input name="description" ng-model="item.description">
            </md-input-container>
        </form>
        <div layout="row" layout-align="start center" layout-margin>
            <md-button class="md-raised" ng-click="toggleForm();">
                取消
            </md-button>
            <md-button class="md-raised md-primary" ng-click="submit();" ng-disabled="jenkinsCredentialForm.$invalid">
                保存
            </md-button>
        </div>
    </md-content>
</div>