<div ng-controller="JenkinsCredentialGrantCtrl" ng-cloak>
    <md-toolbar class="content-toolbar">
        <div class="md-toolbar-tools">
            <div>分配工作空间</div>
        </div>
    </md-toolbar>
    <div cg-busy="{promise:loadingLayer,minDuration:500}" class="md-padding" layout="column">
        <form name="CredentialGrantForm" class="md-padding">
            <div layout-gt-sm="row" ng-show="currentRole === 'ADMIN'">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>组织</label>
                    <md-select name="organization" multiple ng-model="organizationId"  ng-change="orgChange()">
                        <md-option ng-repeat="organization in organizations" value="{{organization.id}}">{{organization.name}}</md-option>
                    </md-select>
                    <div ng-messages="CredentialGrantForm.organization.$error">
                        <div ng-message="required">必填.</div>
                    </div>
                </md-input-container>
            </div>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>工作空间</label>
                    <md-select name="workspace" multiple ng-model="workspaceId">
                        <md-option ng-repeat="workspace in workspaces" value="{{workspace.id}}">{{workspace.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="CredentialGrantForm.workspace.$error">
                        <div ng-message="required">必填.</div>
                    </div>
                </md-input-container>
            </div>
        </form>
        <div layout="row" layout-align="start center" layout-margin>
            <md-button class="md-raised" ng-click="toggleForm();">
                取消
            </md-button>
            <md-button class="md-raised md-primary" ng-click="submit();" ng-disabled="CredentialGrantForm.$invalid">
                保存
            </md-button>
        </div>
    </div>
</div>

